body {
    background-color: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

main {
    padding: 30px 0;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

a {
    color: #885df1;
}